<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solojet.dialup">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.solojet.dialup.AboutActivity" />
        <activity android:name="com.solojet.dialup.BrandActivity" />
        <activity android:name="com.solojet.dialup.CodeActivity" />
        <activity android:name="com.solojet.dialup.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>